html {

}

body {
  background-color: #faf7e3;
  font-family: 'Open Sans', sans-serif;
  padding-top: 0;
  text-align: center;
  padding-right: 0;
  padding-left: 0;
}

h1 {
  text-decoration: underline;
}

span {
  opacity: 0.1;
}

#profile {
  height: 80%;
}

/* div img {
  height: 80%;
} */

div {
  padding-bottom: 70px;
}

p {
  font-style: italic;
  color: #555555;
}

ul {
  list-style: none;
  display: inline-flex;
  gap: 30px;
}

footer {
  background-color: #be9984;
}

.footer-link {
  text-decoration: none;
}

.beet-img {
  height: 50%;
}
